<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="/home">Simple AirBnB</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row row-centered">
    <div class="col-xs-12 col-md-8 col-centered">
      <h1>WELCOME TO</h1>
      <img src="http://i.imgur.com/b1O5zNn.png" alt="airbnb jr" style='width:70%;' border="0" alt="Null">
      <h2>Find a place to stay</h2>
      <h3>OR</h3>
      <h2>Make money with your properties</h2><br>
      <p class="lead">
      <a href="/signup" class="btn btn-primary btn-lg">SIGN UP NOW FOR FREE!</a>
      </p>
    </div>
  </div>
</div>
