<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="/home">Simple AirBnB</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1 class="text-center">WELCOME TO</h1>
      <img src="http://i.imgur.com/b1O5zNn.png" alt="airbnb jr" style='width:70%;' border="0" class="center-block img-responsive">
      <h2 class="text-center">Find a place to stay</h2>
      <h3 class="text-center">OR</h3>
      <h2 class="text-center">Make money with your properties</h2><br>
      <p class="lead text-center">
      <a href="/signup" class="btn btn-primary btn-lg">SIGN UP NOW FOR FREE!</a>
      </p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
