<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Simple AirBnB</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <h1>HI <%= @Fname %> <%= @Lname %>, WELCOME TO YOUR DASHBOARD</h1>
    <hr>
    <h3>What do you want to do?</h3><br>
    <p><a href="#" class="btn btn-primary btn-lg">VIEW YOUR PROPERTY</a></p>
    <p><a href="/new-property" class="btn btn-primary btn-lg">ADD NEW PROPERTY</a></p>
    <p><a href="#" class="btn btn-primary btn-lg">LOOK FOR A PLACE TO STAY</a></p>

</div>
